<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Basketball Reference Redesign</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>	
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
	</head>

	<body>
		<div class="app">

			<aside id="sidebar" class="sidebar">
				<div class="sidebar-top">
					<h2>Explore</h2>
					<button id="sidebar-close" onclick="closeSidebar()" aria-label="Close sidebar">&times;</button>
				</div>

				<nav class="sidebar-nav">
					<a href="#">Advanced Stats</a>
					<a href="#">Historical Leaders</a>
					<a href="#">Awards</a>
					<a href="#">Playoff Records</a>
					<a href="#">Draft Finder</a>
					<a href="#">Season Finder</a>
					<a href="#">Franchise History</a>
				</nav>
			</aside>

			<main id ="main" class="main-content">
				<button id="sidebar-open" onclick="openSidebar()"><i class="fa fa-bars"></i></button>  
				<div class="header">
					<img src="{{ url_for('static', filename='img/logo.png') }}" alt="Basketball Reference" class="logo">
				</div>

				<div class="search-section">
					<h1>Search for a team or player to get started!</h1>

					<form action="{{ url_for('search') }}" method="GET" class="search-form">
						<div class="search-wrapper">
							<input 
								type="text" 
								name="q" 
								placeholder="Start typing here" 
								class="search-bar"
								id="searchInput"
							>

							<button type="submit" class="search-submit" id="searchButton" disabled>
								↑
							</button>
						</div>
					</form>
				</div>

				<div class="nav">
					<a href="{{ url_for('playersPage') }}">Players</a>
					<a href="{{ url_for('teamsPage') }}">Teams</a>
					<a href="#">Stats</a>
					<a href="{{ url_for('leadersPage') }}">Leaders</a>
					<a href="{{ url_for('standingsPage') }}">Standings</a>
				</div>
			</main>
		</div>
	</body>
</html>
